{% extends 'base.html.twig' %}

{% block title %}User list{% endblock %}

{% block body %}

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center bg-white">
                    <h1 class="font-weight-light">Manage users</h1>
                    <p class="lead">Subtile</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
        <section class="py-5">
            <div class="container">
                <div class="row header-dashboard py-5">
                    <div class="col-md-12 text-center dashboard_menu">
                        <h2>Manage users</h2>
                        <a href="{{ path('admin') }}" class="btn btn-info btn-dashboard">Dashboard</a>
                        <a href="{{ path('manageComments') }}" class="btn btn-info btn-dashboard">Manage comments</a>
                        <a href="{{ path('article_new') }}" class="btn btn-info btn-dashboard">Create an article</a>
                        <a href="{{ path('pendingArticles') }}" class="btn btn-info btn-dashboard">Manage pending articles</a>
                    </div>
                </div>

                <section class="ftco-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="case">
                                    <div class="row">
                                        {% for user in users %}
                                            {% if user.roles[0] == 'ROLE_USER' %}
                                                <div class="col-xl-4 col-lg-6 col-md-12 card py-5 card-dashboard">
                                                    <div class="text w-100 pl-md-3 text-center">
                                                        <p class="text-center">Firstname</p>
                                                        <h3 class="text-center">
                                                            {{ user.firstname }}
                                                        </h3>
                                                        <p class="text-center">Lastname</p>
                                                        <h3 class="text-center">
                                                            {{ user.lastname }}
                                                        </h3>
                                                        <p class="text-center">Email</p>
                                                        <h3 class="text-center">
                                                            {{ user.email }}
                                                        </h3>
                                                        <p class="text-center">Creation date</p>
                                                        <h3 class="text-center">
                                                            {{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}
                                                        </h3>
                                                        <br>
                                                        <p class="text-center">Available options</p>
                                                        <div class="d-flex justify-content-center">
                                                            <a href="{{ path('delete_user', {'id': user.id }) }}" class="btn btn-danger">Delete</a>                                       </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>

{% endblock %}