<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Interactive map of Algeria by Younes Bouaziz">
    <meta name="author" content="Younes Bouaziz">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- FB Open Graph data -->
    <meta property="og:title" content="Interactive map of Algeria" />
    <meta property="og:type" content="Interactive encyclopedia" />
    <meta property="og:url" content="http://alger.discoverie.webagencypro.fr" />
    <meta property="og:image" content="img/dz-flag.png" />
    <meta property="og:description" content="Who said that Algeria is only a big desert with and a dangerous country. Come and see the reality about Algeria. You will fall in love with this wonderful country."/>

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="interactive encyclopedia" />
    <meta name="twitter:title" content="Interactive map of Algeria, by Younes Bouaziz" />
    <meta name="twitter:image:src" content="http://alger.discoverie.webagencypro.fr/public/img/dz-flag.png" />
    <meta name="twitter:description" content="Who said that Algeria is only a big desert with and a dangerous country. Come and see the reality about Algeria. You will fall in love with this wonderful country."/>

    <!-- TinyMCE -->
    <script src="https://cdn.tiny.cloud/1/j7edr96twwloguzfrtwtxsez5j6jx7gbta70ac6v012jsl6z/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'.tinyForm',});</script>

    <!-- Map chart required script -->
    <script src="https://www.amcharts.com/lib/4/core.js"></script> <!-- core module (main module) -->
    <script src="https://www.amcharts.com/lib/4/maps.js"></script> <!-- maps module -->
    <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script> <!-- map file in GeoJson format -->
    <script src="//www.amcharts.com/lib/4/themes/animated.js"></script> <!-- animated map file -->

    <!-- icones fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- Bootstrap Core CSS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- my CSS -->
    <link href="{{asset('css/myStyle.css')}}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{ path('home') }}">ALGERdiscoveRIE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('map') }}">Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('article') }}">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contact') }}">Contact</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('registration') }}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Log In</a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin') }}">Dashboard</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

    {% block body %}{% endblock %}

<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4">

    <hr>

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center text-white py-2">
        <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
        </li>
        <li class="list-inline-item">
            <a href="{{ path('registration') }}" class="btn btn-danger btn-rounded">Sign up!</a>
        </li>
    </ul>
    <!-- Call to action -->

    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center text-white">
        <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1 social-logos">
                <i class="fab fa-facebook-f"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1 social-logos">
                <i class="fab fa-twitter"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1 social-logos">
                <i class="fab fa-google-plus-g"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1 social-logos">
                <i class="fab fa-linkedin-in"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1 social-logos">
                <i class="fab fa-dribbble"> </i>
            </a>
        </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-white py-3">© 2020 Copyright:
        <span>Website made by Younes Bouaziz - All rights reserved</span>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

        {% block javascripts %} {% endblock %}
</body>
</html>
