{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block body %}

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center bg-white">
                    <h1 class="font-weight-light">{{ article.title }}</h1>
                    <p class="lead">POSTED IN <span class="font-bold">{{ article.category.name }}</span></p>
                    <p class="lead">AUTHOR <span>Danny Jones</span></p>
                    <p class="lead">NUMBER OF COMMENTS : <span>{{ article.comments | length }}</span></p>
                    <p class="lead">POSTED ON <span>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</span></p>
                </div>

            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">
            <h1>Edit Article</h1>

            {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script>
        $('.custom-file-input').on('change', function (e) {
            let inputFile = e.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
{% endblock %}
