{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center bg-white">
                    <h1 class="font-weight-light">All articles</h1>
                    <p class="lead">Subtile</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="case">
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('article_user_new') }}" class="btn btn-info my-3">Create
                                article</a>
                        {% endif %}
                        <div class="row">
                            {% for article in articles %}
                                <div class="col-xl-4 col-lg-6 col-md-12 card py-5 card-dashboard">
                                    <div class="text w-100 pl-md-3 text-center">
                                        <img src="{{ vich_uploader_asset(article,'imageFile') }}" class="img-fluid mb-3" alt="{{ article.imagename }}">
                                        <p class="text-center">Title</p>
                                        <h3 class="text-center">
                                            {{ article.title }}
                                        </h3>
                                        <p class="text-center">Region</p>
                                        <h3 class="text-center">
                                            {{ article.region.name }}
                                        </h3>
                                        <p class="text-center">Category</p>
                                        <h3 class="text-center">
                                            {{ article.category.name }}
                                        </h3>
                                        <p class="text-center">Number of comments</p>
                                        <h3 class="text-center">
                                            {{ article.comments | length }}
                                        </h3>
                                        <p class="text-center">Creation date</p>
                                        <h3 class="text-center">
                                            {{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}
                                        </h3>
                                        <br>
                                        <div class="d-flex justify-content-center">
                                            <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-info mx-2 display-button">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ knp_pagination_render(articles) }}
    </section>

{% endblock %}
