{% extends 'base.html.twig' %}

{% block title %}Create Article{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center text-white masthead-frame">
                    <h1 class="font-weight-light">Create article</h1>
                    <p class="lead">Subtitle</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">

            <div class="row header-dashboard py-5">
                <div class="col-md-12 text-center dashboard_menu">
                    <h2>Create new article</h2>
                    <a href="{{ path('manageUsers') }}" class="btn btn-info btn-dashboard">Manage users</a>
                    <a href="{{ path('manageComments') }}" class="btn btn-info btn-dashboard">Manage comments</a>
                    <a href="{{ path('article_new') }}" class="btn btn-info btn-dashboard">Create an article</a>
                    <a href="{{ path('pendingArticles') }}" class="btn btn-info btn-dashboard">Manage pending articles</a>
                    <a href="{{ path('admin') }}" class="btn btn-info btn-dashboard">Dashboard</a>
                </div>
            </div>

            {{ include('article/_form.html.twig') }}

        </div>
    </section>

{% endblock %}

{% block javascripts %}
<script>
    $('.custom-file-input').on('change', function (e) {
        let inputFile = e.currentTarget;
        $(inputFile).parent()
        .find('.custom-file-label')
        .html(inputFile.files[0].name);
    });
</script>
{% endblock %}
