{% extends 'base.html.twig' %}

{% block title %}Create Article{% endblock %}

{% form_theme userArticleForm 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center text-white masthead-frame">
                    <h1 class="font-weight-light">Create article</h1>
                    <p class="lead">Subtitle</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">
            <a href="{{ path('article') }}" class="btn btn-info btn-dashboard">Back to the articles</a>
            <h1>Create new Article</h1>

            {{ form_start(userArticleForm) }}
            {{ form_widget(userArticleForm) }}
            <button class="btn btn-primary">{{ button_label|default('Submit') }}</button>
            {{ form_end(userArticleForm) }}

        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script>
        $('.custom-file-input').on('change', function (e) {
            let inputFile = e.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
{% endblock %}