{% extends 'base.html.twig' %}

{% block title %} {{ article.title }} {% endblock %}

{% form_theme commentForm 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center text-white masthead-frame">
                    <h1 class="font-weight-light">{{ article.title }}</h1>
                    <p class="lead">POSTED IN <span class="font-bold">{{ article.category.name }}</span></p>
                    <p class="lead">AUTHOR <span>Danny Jones</span></p>
                    <p class="lead">NUMBER OF COMMENTS : <span>{{ article.comments | length }}</span></p>
                    <p class="lead">POSTED ON <span class="font-weight-bold">{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</span></p>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">


            <div class="news">
                <article class="chapter_content mb-4">
                    <h2>{{ article.title }}</h2>
                    {{ article.content }}
                </article>
            </div>

            <div class="d-flex flex-column">
                <!-- LIKE BUTTON -->
                <a href="{{ path('article_like', {'id' : article.id}) }}" class="btn btn-link js-like">
                    {% if app.user and article.isLikedByUser(app.user) %}
                        <i class="fas fa-thumbs-up"></i>
                    {% else %}
                        <i class="far fa-thumbs-up"></i>
                    {% endif %}
                    <span class="js-likes">{{ article.likes | length }}</span>
                    <span class="js-label">Like</span>
                </a>
                <div>
                    <a href="{{ path('article') }}" class="btn btn-primary my-3">&laquo; Back to chapters list</a>
                </div>

            </div>

            <section id="comment">

                <h3>{{ article.comments | length }} Comments :</h3>

                {% for message in app.flashes('notice') %}
                    <div class="my-4">
                        <span class = "col-lg-8 col-md-10 mx-auto alert alert-danger text-center mt-3 flash-notice"> {{ message }} </span>
                    </div>
                {% endfor %}
                {% for comment in article.comments %}

                    <div class="container comment-zone p-4 mx-auto bg-light">
                        <div class="media mt-3 p-3 bg-white comment-bubble">
                            <div class="media-body">
                                <div class="row">
                                    <p class="comment-username mt-0 mx-2">{{ comment.username.firstname }}</p>
                                    <span class="font-weight-lighter font-italic">{{ comment.createdAt | date('m/d/y à H:i') }}</span>
                                </div>
                                <div class="row">
                                    <p class="col-12 p-0 mt-0 mx-2 mb-0">{{ comment.content | raw }}</p>
                                    {% if is_granted('ROLE_USER') %}
                                        <a href="{{ path('report_comment', {'id': comment.id}) }}" class="btn btn-danger btn-sm mx-2">Report</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {{ form_start(commentForm) }}
                    {{ form_widget(commentForm) }}

                    <input type="submit" class="btn btn-primary" value="Comment">
                    {{ form_end(commentForm) }}

                {% else %}
                    <h3>Log In to leave a comment !</h3>
                    <a href="{{ path('app_login') }}" class="btn btn-primary">
                        Log In
                    </a>
                {% endif %}
            </section>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/likeSystemAjax.js') }}"></script>
{% endblock %}
